.menu nav {
    width: 100%;
    box-shadow: 0 0 4px 1px #0003;
}
.menu nav ul {
    padding: 15px 0;
    list-style: none;
    width: min(90%, 70em);
    margin: 0 auto;
}
.menu nav li {
    position: relative;
    display: inline-block;
    margin-right: 20px;
}
.menu nav li::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background: var(--color-primary);
    left: 0;
    bottom: -4px;
    transition: all 0.15s linear;
}
.menu nav li:hover::after {
    width: 100%;
    transition: all 0.15s linear;
}
.menu nav li.logout {
    float: right;
    margin: 0;
}
.menu nav li.logout::after {
    background: var(--color-error);
}
.menu nav li a {
    text-decoration: none;
    color: var(--text-color);
}

.content {
    display: none;
}
.content:target {
    display: block;
}
.content h1 {
    margin: 50px 0 30px;
}
.content .header-edit {
    z-index: 1;
    position: sticky;
    justify-content: space-between;
    margin-top: 20px;
    padding: 30px 0 30px;
    background: #fff;
    top: 0;
}
.content .header-edit h1 {
    margin: 0;
}
.content .header-edit > div {
    position: relative;
}
.content .btn-container {
    position: absolute;
    right: 0;
    top: 0;
}
.content .select-container {
    padding-top: 30px;
}
.content table thead th {
    z-index: 2;
    position: sticky;
    top: 160px;
    background: #fff;
    border: none;
    border-left: 2px solid var(--text-disabled-color);
    box-shadow: inset -1px -1px 0 1px var(--text-disabled-color),
                inset 0 2px 0 0 var(--text-disabled-color),
                inset 0 -2px 0 0 var(--text-disabled-color),
                -1px 0 0 0 var(--text-disabled-color);
    transform: translate(0.5px, -0.5px);
}
.content table input {
    font-size: 16px;
    padding: 6px 10px;
    box-shadow: 0 0 2px 0 #0004;
}
.content table.item-selection tbody tr:hover {
    background: var(--color-primary);
    color: #fff;
    cursor: pointer;
}
.content .table-container {
    position: relative;
    margin-bottom: 100px;
}
.content table.item-selection tbody tr.add-row:hover {
    background: #fff;
    color: var(--text-color);
    cursor: default;
}
.content table .add-row input[type='text'] {
    width: calc(100% - 22px);
}
.content table .add-row .action-btn {
    position: absolute;
    width: calc(100% - 14px);
    border: none;
    right: 0;
    bottom: 0;
    transform: translateY(100%);
}
.content table .add-row .action-btn div {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px;
}

.dashboard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
}
.dashboard a {
    text-decoration: none;
}
.dashboard-item {
    position: relative;
    padding: 25px 40px 30px;
    box-shadow: 0 0 4px 0 #0003;
    width: 250px;
    height: 175px;
}
.dashboard-item.full {
    width: 100%;
}
a > .dashboard-item::after {
    content: 'More';
    position: absolute;
    cursor: pointer;
    bottom: 25px;
    right: 30px;
    color: var(--color-primary);
}
.dashboard-item h3 {
    margin: 0;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 25px;
}
.dashboard-item span {
    color: var(--text-disabled-color);
}
.dashboard-item canvas {
    width: inherit;
    height: inherit;
}
